::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(148, 148, 148, 0.7);
    box-shadow: inset 0 0 3px black;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    background: #1f1f1f url(images/header.jpg) 50% 15%;
    font-family: calibri;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
    background: red;
    font-family: calibri;
}

header img {
    padding-top: 10px;
    margin-bottom: -10px;
}

header h1 {
    margin: -20px;
    color: white;
    font-family: 'Permanent Marker', Arial;
    font-size: 72px;
    text-shadow: 2px 2px #013979;
    padding-top: 15px;
}

nav ul {
    /*display: inline;*/
    padding-left: 0px;
}

nav ul li {
    display: inline-block;
    text-shadow: 2px 2px #013979;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 30px 0px 30px;
    /* Separate each element from each other */
    /*padding-bottom: 10px;*/
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:visited {
    /* Visited link inside the navigation bar */
    color: white;
}

nav ul li a:hover {
    /* Link animation when the mouse hovers over it */
    color: #94e0df;
    font-style: bold;
}

nav ul li a:active {
    /* Animation when mouse clicks the link */
    color: #666666;
}


/* ---- CSS FOR SLIDER IN HOMEPAGE ---- */

slider {
    margin: 0;
    display: block;
    width: 100%;
    height: 600px;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}

slider>* {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url('images/Slide4.jpg');
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    left: 100%;
    animation-delay: 2s;
    background-image: url('images/Slide2.jpg');
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    left: 100%;
    animation-delay: 5s;
    background-image: url('images/Slide3.jpg');
    background-size: cover;
    background-position: center;
}

slide:nth-child(4) {
    left: 100%;
    animation-delay: 8s;
    background-image: url('images/Slide1.jpg');
    background-size: cover;
    background-position: center;
}

slide p {
    font-family: 'Righteous', cursive, Arial;
    text-shadow: 3px 3px #303030;
    font-size: 45px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 300px;
    color: white;
    background: none;
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }
    5% {
        left: 0%;
    }
    25% {
        left: 0%;
    }
    30% {
        left: -100%;
        width: 100%;
    }
    30.0001% {
        left: -100%;
        width: 0%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

.divSlideshow {
    background: #303030;
    width: 100%;
    min-height: 600px;
    max-height: 600px;
}


/* ---- END OF CSS FOR SLIDER IN HOMEPAGE ---- */

.fixedHeader {
    width: 100%;
    max-width: 100%;
    height: 265px;
    max-height: 265px;
    display: inline-block;
}

.divSlideshow {
    background: #303030;
    width: 100%;
    min-height: 600px;
    max-height: 600px;
}

.divSeparator {
    background: #303030;
    width: 100%;
    min-height: 13px;
}


/* --- CSS FOR GALLERY IN DESIGN PAGE --- */

.galleryWrapper {
    width: 100%;
    height: auto;
    background: #303030 url(images/bg.jpg);
    background-position: center;
    background-size: 100% 100%;
    /* text-align: center; */
    margin: 0;
}

.gallery {
    /* background-color: white; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.gallery-img {
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.gallery-img img {
    width: 380px;
    padding: 8px;
    filter: grayscale(100);
    transition: 1s;
}

.gallery-img img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

@media screen and (max-width: 1150px) {
    .gallery-img img {
        width: 32.5%;
        height: auto;
        padding: 0px;
        padding-bottom: 5px;
    }
    .gallery-img {
        padding-left: 15px;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .gallery-img img {
        width: 100%;
        height: auto;
        padding: 0px;
        padding-bottom: 5px;
    }
    .gallery-img {
        padding-left: 15px;
        width: 100%;
    }
}


/* --- END OF CSS FOR GALLERY IN DESIGN PAGE --- */

.divVideo {
    background: #303030 url(images/bg.jpg);
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    margin: 0;
}

.divVideo iframe {
    display: inline-block;
    margin: 13px;
}

.aboutVideos {
    background: #6d6d6d;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 3px 3px #303030;
}

.aboutVideos h1 {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.aboutVideos p {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.aboutMe {
    background: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.aboutMe>h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.aboutMe>p {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.aboutMe ul li {
    padding-left: 16px;
    font-size: 15px;
    list-style: none;
}

footer {
    background: #222222;
    background-blend-mode: color-dodge 100%;
    text-align: center;
    color: white;
    font-size: 12px;
}

.footer {
    background: #222222;
    background-blend-mode: color-dodge 100%;
    text-align: center;
    color: white;
    font-size: 12px;
}

.construction {
    background-color: #999;
    padding: 10px;
    padding-bottom: 1000px;
    font-family: 'Poppins', sans-serif;
}

.construction h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}